:root {
  font-family:"Roboto" , Arial !important;


  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d5d4d4;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

